{{extend 'layout.html'}}

{{block header}}

{{end}}
<script>
  setTimeout(function () {
    document.getElementById('app').style = 'display:block;'
  }, 250);
  var get_forme_weaves_url = "{{=URL('api', 'get_forme_weaves')}}";
  var get_fromme_weaves_url = "{{=URL('api', 'get_fromme_weaves')}}";
  var get_forothers_weaves_url = "{{=URL('api', 'get_forothers_weaves')}}";
  var get_users_url = "{{=URL('api', 'get_users')}}";
  var get_create_weave_url = "{{=URL('api', 'create_weave')}}";
  var get_delete_weave_url = "{{=URL('api', 'delete_weave')}}";
  var get_author_url = "{{=URL('api', 'get_author')}}";
</script>

<div id="app" class="interface" style="display: none;">

  {{ include 'default/nav.html' }}

  {{ include 'default/forme.html' }}

  {{ include 'default/fromme.html' }}

  {{ include 'default/forothers.html' }}

  {{ include 'default/weave.html' }}

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>