{{extend 'layout.html'}}

{{block header}}

{{end}}

<link rel="stylesheet" href="{{=URL('static','css/interface.css')}}"/>


<div class="interface">

  <div class="row top-interface">

    <div class="col-sm-4 text-center border-right">
        <h3>For Me</h3>
    </div>
    <div class="col-sm-4 text-center">
        <h3>From ME</h3>
    </div>
    <div class="col-sm-4 text-center border-left">
        <h3>For Others</h3>
    </div>

  
  </div>


  <div class="row bottom-interface">
    <h3>Weave</h3>

  
  </div>
  

</div>