body,html {
    height: 100%;
}

.main-container{
    height: 100%;
}

.interface {
    height: 100%;
}

.title {
    border-bottom: 3px solid black;
}

.scroll {
    overflow: scroll;
}

.static {
    position: static; 
}

.top-interface {
    height: 60%;
}

.bottom-interface {
    border-top: 1px solid black;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: scroll;
}

.border-left{
    border-left: 1px solid black;
}


.border-right{
    border-right: 1px solid black;
}

.weave {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
}

.weave:hover {
    background-color: rgb(230, 222, 222);
    cursor: pointer;
}

.weave-title {
    font-weight: bold;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
.modal-wrapper {
display: table-cell;
vertical-align: middle;
}

.row.bottom-interface {
padding: 10px;
}

.weave-section-title {
    margin-top: 20px;
    margin-bottom: 40px;
}


.empty-textarea {
    border: none;
    border-left: 5px solid black;
    padding-left: 5px;
    display: block;
    margin: auto;
    outline: none;
    resize: none;
    margin-bottom: 40px;
    padding-top: 25px;
    position: relative;
    left: 70px; 
}

.not-empty-textarea {
    border: none;
    border-left: 5px solid black;
    padding-left: 5px;
    outline: none;
    margin-left: 50px;
    resize: none;
    margin-bottom: 40px;
    padding-top: 25px;

}

.title-text {
    height: 45px;
    padding-top: 10px;
}

.users {
    margin-top: 20px;
    display: block;
    margin: auto;
}

.user-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user-checkbox {
    margin: 15px;
}

.create-weave {
    border: 1px solid black;
    border-radius: 10px;
    transition: none;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.create-weave:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
